<header class="header">
  <nav class="navbar">
    <ul class="nav-ul">
      <li class="nav-li">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">View</a>
      </li>
      <li class="nav-li">
        <a class="<%= path === '/add-user' ? 'active' : '' %>" href="add-user"
          >Add</a
        >
      </li>
      <% if(isloggedin) {%>
      <li class="nav-li">
        <a class="<%= path === '/students' ? 'active' : '' %>" href="students"
          >Students</a
        >
      </li>
      <% } %>
    </ul>
    <div class="logout-nav">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
      <img class="profile-img" src="<%= profilePic %>" width="40" height="40" />
    </div>
  </nav>
</header>
