<header class="header">
  <nav class="">
    <ul class="nav-ul">
      <li class="nav-li">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">View</a>
      </li>
      <li class="nav-li">
        <a class="<%= path === '/add-user' ? 'active' : '' %>" href="add-user"
          >Add</a
        >
      </li>
      <li class="nav-li">
        <a class="<%= path === '/students' ? 'active' : '' %>" href="students"
          >Students</a
        >
      </li>
    </ul>
  </nav>
</header>
