<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <div class="add-form">
        <form action="/add-user" method="POST" enctype="multipart/form-data">
            <label for="name">Name</label><br/>
            <input id="name" name="name" type="text" placeholder="Aditya" />
            <br/>
            <br/>
            <label for="age">Age</label><br/>
            <input id="age" name="age" type="number" />
            <br/>
            <br/>
            <label for="email">Email</label><br/>
            <input id="email" name="email" type="text" placeholder="aditya@gmail.com" />
            <br/>
            <br/>
            <label for="phone">Phone</label><br/>
            <input id="phone" name="phone" type="number" placeholder="9996665741" />
            <br/>
            <br/>
            <label for="college">College</label><br/>
            <select id="college" name="college">
                <option value=""></option>
                <option value="MGIT">MGIT</option>
                <option value="CBIT">CBIT</option>
                <option value="JNTU">JNTU</option>
                <option value="OU">OU</option>
            </select>
            <br/>
            <br/>
            <label for="image">Upload Image</label><br/>
            <input type="file" id="image" name="image" />
            <br/>
            <br/>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button>submit</button>
        </form>
    </div>

<%- include('includes/end.ejs') %>