<%- include('includes/head.ejs') %>
</head>
<body>
    <div class="login-container">
        <form action="/login" method="POST">
            <label for="name">Username:</label><br>
            <input type="text" id="name" name="name" >
            <br>
            <br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password" >
            <br>
            <br>
            <button>Login</button>
        </form>
    </div>

<%- include('includes/end.ejs') %>