* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #adadad;
  color: black;
  box-sizing: border-box;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
}

.nav-li {
  margin-right: 20px;
  font-size: 20px;
}

.nav-li a {
  text-decoration: none;
}

.nav-li a:visited {
  color: black;
}

.active {
  border-bottom: 1px solid black;
}

.table-container {
  margin: 30px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #adadad;
}

.action-column {
  display: flex;
}

.action-column form {
  margin-right: 10px;
}

.add-form {
  margin: 30px;
}

.profile-img {
  border-radius: 50%;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-nav form {
  margin-right: 10px;
}
