<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name</title>
  </head>
  <body>
    <div>
        <!-- it will receive props form login pag -->
      <P>Your name is <%= name %> </P>
    </div>
  </body>
</html>
